In [2]:
# This notebook contains numerous examples of ways to read and write data in Python
#
# The examples are based on the book, "Python for Data Analysis: Data Wrangling with Pandas, NumPy, and iPython"
#
# There are two primary parsing functions for converting test data into a DataFrame
# read_csv(), read_table()
#
# There are DataFrame and Series functions for writing out to delimited test files, df.to_csv()
#
# Also, there are pandas functions for reading and writing JSON, read_json(), df.to_json()
#
# Lastly, because parquet is a common data file format used on cloud platforms, there are pandas functions for
# reading and writing in the Apache parquet format used in the Hadoop ecosystem, read_parquet(), df.to_parquet()
# 
# Remember, you'll have to adjust the dataset filepaths to fit your environment
#
# import libraries to be used
import pandas as pd

In [100]:
# reading a comma separated file by default
!cat data/ex1.csv
df = pd.read_csv('data/ex1.csv')
df

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [101]:
# read using a specified separator
df2 = pd.read_table('data/ex1.csv', sep=',')
df2

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [102]:
# missing head row
!cat data/ex2.csv
pd.read_csv('data/ex1.csv', header=None)

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [103]:
# add a header row to the DataFrame
pd.read_csv('data/ex1.csv', names=['a','b','c','d','message'])

   a   b   c   d  message
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [104]:
# set the index to a column name
names=['a','b','c','d','message']
pd.read_csv('data/ex1.csv', names=names, index_col='message')

         a   b   c   d
message
message  a   b   c   d
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [105]:
# hierarchical index from multiple columns
!cat 'data/csv_mindex.csv'
pd.read_csv('data/csv_mindex.csv', index_col=['key1', 'key2'])

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [106]:
# cases not having a fixed delimiter using whitespace or some other pattern
#list(open('data/ex3.txt'))
!cat 'data/ex3.txt'
# use regular expressions
pd.read_table('data/ex3.txt', sep='\s+')

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [107]:
# skip rows
!cat 'data/ex4.csv'
pd.read_csv('data/ex4.csv', skiprows=[0,2,3])

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [108]:
# missing data and sentinels (eg., NA, -1, #IND, NULL)
!cat 'data/ex5.csv'
result = pd.read_csv('data/ex5.csv')
pd.isnull(result)

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [109]:
# considering missing values consistently
pd.read_csv('data/ex5.csv', na_values=['NULL'])

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [110]:
# different sentinels for each column
sentinels = {'message':['foo','NA'], 'something':['two']}
pd.read_csv('data/ex5.csv',na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

In [3]:
# can change the data type when reading in the data as well
drinks2 = pd.read_csv('http://bit.ly/drinksbycountry', dtype={'beer_servings':float})
print(drinks2.dtypes)

country                          object
beer_servings                   float64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

In [111]:
# reading large files
result = pd.read_csv('data/ex6.csv')
print(type(result))
result.shape

<class 'pandas.core.frame.DataFrame'>

(10000, 5)

In [112]:
# specify small number of rows
pd.read_csv('data/ex6.csv', nrows=5)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [113]:
# read out a file in pieces (chunks)
chunker = pd.read_csv('data/ex6.csv', chunksize=1000)
print(chunker)
# The TextParser object returned allows iteration over parts of the file
tot = pd.Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(),fill_value=0)

tot

<pandas.io.parsers.TextFileReader object at 0x1108ba5f8>

0    151.0
1    146.0
2    152.0
3    162.0
4    171.0
5    157.0
6    166.0
7    164.0
8    162.0
9    150.0
A    320.0
B    302.0
C    286.0
D    320.0
E    368.0
F    335.0
G    308.0
H    330.0
I    327.0
J    337.0
K    334.0
L    346.0
M    338.0
N    306.0
O    343.0
P    324.0
Q    340.0
R    318.0
S    308.0
T    304.0
U    326.0
V    328.0
W    305.0
X    364.0
Y    314.0
Z    288.0
dtype: float64

In [114]:
# writing data out to text format
data = pd.read_csv('data/ex5.csv')
print(data)
data.to_csv('data/out.csv')
!cat data/out.csv

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo
,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [115]:
# writing data with other delimiters
data.to_csv('data/out2.txt', sep='|')
!cat data/out2.txt

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [116]:
# writing with missing values
data.to_csv('data/out3.csv', na_rep='NULL')
!cat data/out3.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [117]:
# writing without row or column labels
data.to_csv('data/out4.csv', index=False, header=False)
!cat data/out4.csv

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [118]:
# writing only a subset of columns
data.to_csv('data/out5.csv', index=False, columns=['c', 'b', 'a'], na_rep='NULL')
!cat data/out5.csv

c,b,a
3.0,2,1
NULL,6,5
11.0,10,9

In [119]:
# working with JSON data objects

split_obj = df.to_json(orient='split')
print('JSON split object looks like ' + split_obj)

result = pd.read_json(split_obj, orient='split')
print(result)
print(type(result))

index_obj = df.to_json(orient='index')
print('JSON index object looks like ' + index_obj)

result = pd.read_json(index_obj, orient='index')
print(result)
print(type(result))

records_obj = df.to_json(orient='records')
print('JSON records object looks like ' + records_obj)

result = pd.read_json(records_obj, orient='records')
print(result)
print(type(result))

values_obj = df.to_json(orient='values')
print('JSON values object looks like ' + values_obj)

result = pd.read_json(values_obj, orient='values')
print(result)
print(type(result))

JSON split object looks like {"columns":["a","b","c","d","message"],"index":[0,1,2],"data":[[1,2,3,4,"hello"],[5,6,7,8,"world"],[9,10,11,12,"foo"]]}
   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo
<class 'pandas.core.frame.DataFrame'>
JSON index object looks like {"0":{"a":1,"b":2,"c":3,"d":4,"message":"hello"},"1":{"a":5,"b":6,"c":7,"d":8,"message":"world"},"2":{"a":9,"b":10,"c":11,"d":12,"message":"foo"}}
   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo
<class 'pandas.core.frame.DataFrame'>
JSON records object looks like [{"a":1,"b":2,"c":3,"d":4,"message":"hello"},{"a":5,"b":6,"c":7,"d":8,"message":"world"},{"a":9,"b":10,"c":11,"d":12,"message":"foo"}]
   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo
<class 'pandas.core.frame.DataFrame'>
JSON values object looks like [[1,2,3,4,"hello"],[5,6,7,8,"world"],[9,10,11,12,"foo"]]
   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo
<class 'pandas.core.frame.DataFrame'>

In [122]:
# working with parquet file format
# this example uses the pyarrow library, the fastpargue library is another option
df.to_parquet('data/df_parquet.gzip', compression='gzip')

df_parquet = pd.read_parquet('data/df_parquet.gzip')
print(df_parquet)

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo